<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header'%>
<%= yield %>
<%= render 'layouts/footer'%>
</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
